/* stylelint-disable declaration-block-no-redundant-longhand-properties */

body {
	margin: 0;
  
	/* BEGIN (write your solution here) */
	color: #222;
	font-size: 20px;
	/* END */
	font-family: sans-serif;
	line-height: 1.5;
  }
  
  /* BEGIN (write your solution here) */
  h1{
	font-size: 50px;
	text-align: center;
  }
  
  /* END */
  
  h2 {
	/* BEGIN (write your solution here) */
	font-size: 22px;
	text-align: center;
	
	/* END */
  
	border-bottom: 2px solid #e3e3e3;
  }
  
  main {
	width: 900px;
	margin: auto;
  }
  